.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    width: 1rem;
    height: 1rem;
    border: 1px solid $border_color;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 0.4rem;
    height: 0.4rem;
    background: #fff;
  }
  
  input:checked ~ .checkmark {
    background-color: $color;
    border-color: $color;
  }
  
  input:checked ~ .checkmark:after {
    display: block;
  }
  
  input:checked ~ .label {
    color: #000;
  }
}

/* Multi Range Slider */
.multi-range-slider {
  padding: 10px 10px;
  background: none;
  box-shadow: none;
  border: none;
  
  .bar-left, .bar-right {
    padding: 1px 0px;
    box-shadow: none;
    background-color: $border_color;
  }
  
  .bar-inner {
    padding: 1px 0px;
    background: $color;
    box-shadow: none;
  }
  
  .thumb .max-value, .thumb .min-value {
    display: none;
  }
  
  .thumb::before {
    margin: -4px;
    background: $color;
    border: 1px solid #fff;
    box-shadow: none;
    width: 10px;
    height: 10px;
  }
}
