.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: $sidebar_width;
  height: calc(100vh - $navbar_height);
  margin-top: $navbar_height;
  border-right: 1px solid $border_color;
}

.accordion {
  margin: 10px 0px;
  width: 100%;
  background: none;
  padding: 14px;
  text-align: left;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  border-left: none;
  border-right: none;
  svg {
    float: right;
  }
}

.accordian-panel {
  height: 0px;
  transition: all 300ms;
}

.accordian-panel.active {
  height: auto;
  padding: 10px 15px;
}

/* Price */
.price-range {
  display: flex;
  justify-content: space-between;
}

/* Size */
.size-filter {
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
  .size-btn {
    cursor: pointer;
    position: relative;
    flex: 1;
    margin: 5px;
    background: #fff;
    border: 1px solid $border_color;
    border-radius: 4px;
    padding: 8px;
    transition: all 300ms;
  }
  .size-btn.active {
    background: #f3f3f3;
  }
}

/* Products */
.container {
  margin-top: $navbar_height;
  margin-left: $sidebar_width;
  min-height: 200px;
  padding: 30px 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 220px;
  border: 1px solid $border_color;
  padding: 10px 0px;
  margin: 20px;
  border-radius: 8px;
  .product-heading {
    margin-left: -2px;
    padding: 0px 10px;
    border-left: 2px solid #000;
  }
  .product-heading.highlight {
    border-left: 2px solid salmon;
  }
  .product-company {
    font-size: 0.7rem;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
  }
  .product-name {
    font-size: 1rem;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-image {
    padding: 0px 10px;
  }
  .product-image img {
    width: 100%;
  }
  .product-details {
    margin-top: 5px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
  }
  .product-details .label {
    font-size: 0.7rem;
    color: gray;
  }
  .product-images {
    display: flex;
    align-items: center;
    height: inherit;
  }
  .product-images img {
    border: 1px solid $border_color;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
